.body {
  &__heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__details {
    font-size: 1.126rem;
    color: var(--color-black-1);
    margin-bottom: 1rem;
  }
  &__image {
    margin-bottom: 1rem;

    img {
      width: 100%;
    }
  }
}
