.info {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;

  &__left {
    width: 50%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      object-fit: contain;
    }
  }
  &__right {
    width: 50%;
    margin-left: 2rem;
  }

  &__heading {
    font-size: 32px;
    color: var(--color-black);
    width: 21rem;
  }
  &__details {
    color: var(--color-black-1);
    line-height: 150%;
    font-size: 18px;
    margin-top: 2rem;
  }
}
